.none {
    display: none;
}

#zodiac-sign {
    display: flex;
    justify-content: center;
    align-items: center;
}

#zodiac-results {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#city-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

#weather-results {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#outlook-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mist {
    background-image: url("./images/mist.JPG");
    background-size: 100% 100%;
}

.clear{
    background-image: url("./images/clear.JPG");
    background-size: 100% 100%;
}

.light-cloud{
    background-image: url("./images/light-clouds.JPG");
    background-size: 100% 100%;
}

.cloudy{
    background-image: url("./images/cloudy.JPG");
    background-size: 100% 100%;
}

.snowy{
    background-image: url("./images/snow.JPG");
    background-size: 100% 100%;
}

.rainy{
    background-image: url("./images/rain.JPG");
    background-size: 100% 100%;
}

.thunder{
    background-image: url("./images/thunder.JPG");
    background-size: 100% 100%;
}

.quiz-title {
    display: flex;
    justify-content: center;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#daily-outlook {
    display: flex;
    flex-direction: column;
    text-align: center;   
}